@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jaro:opsz@6..72&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
  display: flex;
  height: 100vh;
  margin: 0;
  
}
header{
  display: flex;
  background: black;
  width: 100%;
  height: 80px;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
h1{
  color: white;
  font-family: "Boldonse", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    font-size: 20px;
    left: -60px;
}
.menubtn{
  display: flex;
  width: 30px;
  height: 30px;
  background: grey;
  align-items: center;
  justify-content: center;
  right: 20px;
  position: absolute;
}
i{
  font-size: 25px;
  
}
.info{
  display: flex;
  height: 200px;
  width: 100%;
  background: black;
  position: absolute;
  top: 64px;
  z-index: 1;
}
.fa-regular{
  font-size: 30px;
}

h2{
  margin-left: 10px;
  color: white;
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  position: absolute;
    animation: fadeIn 1.5s ease-in-out;
}



.ab{
  top: 40px;
}
.he{
  top: 85px;
}
.fa-house{
  font-size: 22px;
}
a{
  color: white;
  text-decoration: none;
}
.contant{
  display: flex;
  height: 100%;
  width: 100%;
  background: white;
  position: absolute;
  top: 83px;
  z-index: 2;
  transition: 0.4s;
  justify-content: center;
}
h3{
  font-size: 60px;
   text-align: center;
   font-weight: 800;
}
.cont{
  display: flex;
  height: 100px;
  width: 300px;
  background: white;
  
}
p{
  position: absolute;
  top: 60px;
  font-weight: 500;
  width: 300px;
  font-size: 20px;
  text-align: center;
}
.black{
  display: flex;
  position: absolute;
  width: 100%;
  height: 200px;
  background: black;
  top: 450px;
}
h4{
  position: absolute;
  font-size: 35px;
  top: 420px;
}
.ex{
  top: 500px;
}
img{
  width: 200px;
  height: 200px;
  top: 100px;
}
.ins{
  color: black;
  }
